{#
We want to extend the default template instead of defining everything ourselves.
#}
{% extends "default/module.html.jinja2" %}

{#
We can redefine individual blocks.
For example, if the `--favicon` option does not do what you want, you can specify a replacement like this.
#}
{% block favicon %}
    <link rel="icon" href="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/favicon.ico">
{% endblock %}

{% block head %}
    <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/favicon-16x16.png">
    <link rel="manifest" href="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/site.webmanifest">
    <link rel="mask-icon" href="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="https://raw.githubusercontent.com/Tech-TTGames/Tickets-Plus/main/branding/browserconfig.xml">
    <meta name="theme-color" content="#00ecff">
{% endblock %}
