name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Install Poetry
      run: pipx install poetry
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: poetry
    - name: Install poetry requirements
      run: poetry install --with dev
    - name: Analysing the code with pylint
      run: poetry run pylint . --fail-under 10
